* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e7f5ff;
  color: #0e0e52 !important;
  width: 80%;
  margin: auto;
}

h1 {
  margin-top: 5rem;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 1.7rem;
}

img {
  height: 50vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.tym-conti {
  margin: 1rem;
  padding: 1rem;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/

@media screen and (max-width: 650px) {
  h1 {
    margin-top: 4.5rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .tym-conti {
    margin: -0.5rem;
  }

  img {
    height: 45vh;
  }
}
